doctype html
html
    head
        meta(charset='UTF-8')
        title AdminLTE 2 | Flot Charts
        // Tell the browser to be responsive to screen width
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        // Bootstrap 3.3.4
        link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        // Font Awesome Icons
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        // Ionicons
        link(href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet', type='text/css')
        // Theme style
        link(href='/dist/css/AdminLTE.min.css', rel='stylesheet', type='text/css')
        // AdminLTE Skins. Choose a skin from the css/skins, folder instead of downloading all of them to reduce the load.
        link(href='/dist/css/skins/_all-skins.min.css', rel='stylesheet', type='text/css')
        style(type="text/css").
            #logInfor span{
                margin-right: 10px
            }

        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
        script.
    body.skin-blue.sidebar-mini
        .wrapper
            include ./components/header
            // Left side column. contains the logo and sidebar
            include components/leftSide
            // Content Wrapper. Contains page content
            .content-wrapper
                // Content Header (Page header)
                section.content-header
                    h1
                        | Server Information
                        small preview
                    ol.breadcrumb
                        li
                            a(href='#')
                                i.fa.fa-dashboard
                                |  Home
                        li
                            a(href='#') Charts
                        li.active Server Information
                // Main content
                section.content
                    // Log
                    .row
                        .col-xs-9
                            // interactive chart
                            .box.box-primary
                                .box-header.with-border
                                    h3.box-title Log Information
                                    .box-tools.pull-right
                                        div
                                            | EPS:
                                            b
                                                span 12013
                                .box-body
                                    #logInfor(style='height: 200px;background-color: black; overflow-y: scroll;color: white; padding: 10px; font-size: 16px;')
                        .col-xs-3
                            // interactive chart
                            .box.box-primary
                                .box-header.with-border
                                    h3.box-title Server
                                    .box-tools.pull-right
                                .box-body
                                    div(style='height: 200px;')
                                        .form-group
                                            label(for='sel1') Server Tick
                                            select#sel1.form-control(multiple='')
                                                option Server1
                                                option Server2
                                                option Server3
                                                option Server4
                                                option Server5
                                                option Server6
                                                option Server7
                                                option Server8
                                                option Server9
                                                option Server10
                                                option Server11
                                                option Server12
                    .row
                        .col-xs-12
                            // interactive chart
                            .box.box-primary
                                .box-header.with-border
                                    i.fa.fa-bar-chart-o
                                    h3.box-title Interactive Area Chart
                                    .box-tools.pull-right
                                        | Real time
                                        #realtime.btn-group(data-toggle='btn-toggle')
                                            button.btn.btn-default.btn-xs.active(type='button', data-toggle='on') On
                                            button.btn.btn-default.btn-xs(type='button', data-toggle='off') Off
                                .box-body
                                    #interactive(style='height: 300px;')
                    .row
                        .col-md-6
                            // Line chart
                            .box.box-primary
                                .box-header.with-border
                                    i.fa.fa-bar-chart-o
                                    h3.box-title Request/Response
                                    .box-tools.pull-right
                                        button.btn.btn-box-tool(data-widget='collapse')
                                            i.fa.fa-minus
                                        button.btn.btn-box-tool(data-widget='remove')
                                            i.fa.fa-times
                                .box-body
                                    #line-chart(style='height: 300px;')
                        .col-md-6
                            // Bar chart
                            .box.box-primary
                                .box-header.with-border
                                    i.fa.fa-bar-chart-o
                                    h3.box-title Error/All
                                    .box-tools.pull-right
                                        button.btn.btn-box-tool(data-widget='collapse')
                                            i.fa.fa-minus
                                        button.btn.btn-box-tool(data-widget='remove')
                                            i.fa.fa-times
                                .box-body
                                    #area-chart(style='height: 300px;')
            include ./components/footer
            // Control Sidebar
            include ./components/controlSide
            .control-sidebar-bg

        // jQuery 2.1.4
        script(src='/plugins/jQuery/jQuery-2.1.4.min.js', type='text/javascript')
        // Bootstrap 3.3.2 JS
        script(src='/bootstrap/js/bootstrap.min.js', type='text/javascript')
        // FastClick
        script(src='/plugins/fastclick/fastclick.min.js', type='text/javascript')
        // AdminLTE App
        script(src='/dist/js/app.min.js', type='text/javascript')
        // AdminLTE for demo purposes
        script(src='/dist/js/demo.js', type='text/javascript')
        // FLOT CHARTS
        script(src='/plugins/flot/jquery.flot.min.js', type='text/javascript')
        // FLOT RESIZE PLUGIN - allows the chart to redraw when the window is resized
        script(src='/plugins/flot/jquery.flot.resize.min.js', type='text/javascript')
        // FLOT PIE PLUGIN - also used to draw donut charts
        script(src='/plugins/flot/jquery.flot.pie.min.js', type='text/javascript')
        // FLOT CATEGORIES PLUGIN - Used to draw bar charts
        script(src='/plugins/flot/jquery.flot.categories.min.js', type='text/javascript')

        // Page script
        //script(src='/dist/bundle.js', type='text/javascript')
        script(src='/javascripts/index.js', type='text/javascript')

