doctype html
html
    head
        meta(charset='UTF-8')
        title AdminLTE 2 | Flot Charts
        // Tell the browser to be responsive to screen width
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        style(type="text/css").
            #logInfor span{
                margin-right: 10px
            }
    body

        // jQuery 2.1.4
        script(src='/plugins/jQuery/jQuery-2.1.4.min.js', type='text/javascript')

        // Page script
        script(src='/javascripts/getServerIp.js', type='text/javascript')

